<!DOCTYPE html>
<html>
<head>

    <!--
 _____   _____   _____   _  
| ____| |  _  \ |  _  \ | | 
| |__   | | | | | | | | | | 
|  __|  | | | | | | | | | | 
| |___  | |_| | | |_| | | | 
|_____| |_____/ |_____/ |_| 
        
    -->


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eddi</title>
    @*<title>@ViewBag.Title - eddi</title>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/site")
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,800,900,500,600,300,200' rel='stylesheet' type='text/css'>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-67421803-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script>
        //$(document).ready(function () {
        //    $('.nav-item a').click(function () {
        //        $(this).addClass('active_nav');
        //    });
        //});
    </script>

</head>

<body>
    <div class="main">


        <header>
            <div class="header-banner">
                <a href="/" class="logo"></a>
                <h1>Eddi Fey</h1>
                <h2>Seattle, WA</h2>
            </div>
            
            <div class="clear"></div>
                <nav>
                    <ul>
                        <li id="home_link" class="nav-item"><a class="" href="/">Home</></a></li>
                        <li id="about_link" class="nav-item"><a href="/about">About</a></li>
                        <li id="resume_link" class="nav-item"><a href="/resume">Resume</a></li>
                    </ul>
                </nav>
        </header>
       

        <!-- render page -->
        @RenderBody()

        <div class="container">
            <footer>
                <ul>
                    <li><a href="mailto:contact@eddifey.com">E-mail</a></li>
                    <li><a href="https://www.linkedin.com/in/eddifey" target="_blank">LinkedIn</a></li>
                    <li><a href="https://github.com/eddif" target="_blank">GitHub</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li>&copy; @DateTime.Now.Year Eddi Fey - Seattle, WA</li>
                </ul>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>

</html>
